.header {
    background-color: #20315a;
    color: white;
    text-align: center;
    font-size: 60px;
    height: 80px;
}
.citySearch {
    background-color: tomato;
}
.forecast {
    background-color: yellowgreen;
}
#cityWeather {
    background-color: violet;
}
.city-btn {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block;
}