.header {
    background-color: #20315a;
    color: white;
    text-align: center;
    font-size: 60px;
    height: 80px;
}
.citySearch {
    padding-top: 20px;
}
.forecast1 {
    background-color: yellowgreen;
}
#cityWeather {
    padding-top: 20px;
    text-align: center;
}
.city-btn {
    background-color: grey;
    border: 1px solid black;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
    display: block;
    
}
#city-form {
    padding-bottom: 10px;
    padding-left: 20px;
}
.container {
    width: 80%;
}
.high {
    background-color: red;
}
.moderate {
    background-color: orange;
}
.low {
    background-color: green;
}